body {
    font-family:'Times New Roman';
    margin:0;
    padding:0;
    background-color: #f4f4f4;
}
.head{
    position: fixed;
    top: 0%;
    left: 0;
    padding: 25px 12.5px;
    background-color:transparent;
    justify-content: space-between;
    text-decoration: none;
    height: 40px;
    width: 100%;
    align-items: center;
     z-index: 100;
     display: flex;
}
.navbar a{
    font-size: 16px;
    color:  rgb(20, 19, 19);
    margin-left: 30px;
    border:none;
    text-decoration: none;
    font-weight: 500;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding-top: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

.about-content {
    text-align: justify;
    
}

.company-logo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-section h2 {
    color: #e44d26; /* Orange color for headings */
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    
}


.footer-social {
    text-align: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
}



